.card {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 300px;
    text-align: left;
    position: relative; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color1 {
    background-color: #ffcccc;
}

.color2 {
    background-color: #ccffcc;
}

.color3 {
    background-color: #ccccff;
}

.color4 {
    background-color: #ffffcc;
}

.textContainer {
    flex-grow: 1; 
}

.editableText {
    border: none;               
    background: none;         
    font: inherit;            
    color: inherit;         
    width: calc(100% - 20px); 
    padding: 0;                
    outline: none;             
    cursor: text;  
    resize: none; 
    min-height: 40px;            
}

.editableText:focus {
    outline: none;           
} 

.colorOptions {
    display: flex;               
    justify-content: center;     
    margin-top: 10px;          
}

.colorCircle {
    width: 20px;                
    height: 20px;               
    border-radius: 50%;     
    margin: 0 5px;            
    cursor: pointer;           
    display: flex;              
    align-items: center;        
    justify-content: center;     
    border: 2px solid transparent;
    transition: border 0.3s;    
}

.colorCircle:hover {
    border: 2px solid #000;  
    scale: (1.2); 
}

.deleteIcon {
    cursor: pointer;           
    margin-left: 10px;         
}

.colorPalette {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

