.card {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    text-align: left;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: left;
}

.textContainer {
    word-break: break-word;
    padding: 10px;
}

.text {
    max-height: 200px;
    overflow-y: hidden;
    padding: 15px, 20px;
    text-align: center;
    width: 100%;
}

.text:hover {
    overflow-y: auto;
}

.editableText {
    flex-grow: 1;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    width: calc(100% - 20px);
    padding: 0;
    outline: none;
    cursor: text;
    resize: none;
    min-height: 200px;
    width: 250px;
}

.editableText:focus {
    outline: none;
}

.deleteIcon {
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.colorPalette {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.pinIcon {
    cursor: pointer;
    margin-left: 10px;
}

.unpinned {
    color: grey;
}

.pinned {
    color: blue;
}