.colorOptions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.colorCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.colorCircle:hover {
    border: 2px solid #000;
    scale: (1.2);
}

.color1 {
    background-color: #ffcccc;
}

.color2 {
    background-color: #ccffcc;
}

.color3 {
    background-color: #ccccff;
}

.color4 {
    background-color: #ffffcc;
}

.color5 {
    background-color: #ffb3e6;
}

.color6 {
    background-color: #b3ffff;
}

.color7 {
    background-color: #ffd1b3;
}

.color8 {
    background-color: #d1b3ff;
}